.searchHeader {
  padding: 10px 0;
  background-color: blue;
}
.searchForm {
  display: flex;
  width: 300px;
  margin: 0 auto;
}
.searchInput {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  order: 1;
  width: 100%;
}
.searchBtn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 5px;
  padding: 5px;
  background-color: #fff;
}
